<div class="cart-products-container d-flex flex-column">
  <% @cart.cart_skus.each do |cart_sku| %>
    <div class="cart-product-card d-flex">
        <div class="cart-product-img-div">
          <%= cl_image_tag cart_sku.sku.product.photo.key, class: "cart-product-img" %>
        </div>
        <div class="cart-product-infos d-flex flex-column">
          <div class="cart-product-name"><%= cart_sku.sku.product.name %></div>
          <div class="cart-product-numbers">
            <div class="update-amount">
              <%= simple_form_for(cart_sku, remote: true) do |f| %>
                <%= f.input :amount, as: :numeric, input_html: { min: 1, step: 1 }, label:false %>
              <% end %>
            </div>
            <div class="cart-sku-id d-none"><%= cart_sku.id %></div>
            <div class="cart-product-unit-price">Unitário R$<%= p = cart_sku.sku.price %></div>
            <div class="cart-product-total-price">Total R$<%= cart_sku.total_price %></div>
          </div>
        </div>
        <div class="remove-from-cart">
          <%= link_to "Excluir", cart_sku, method: :delete, remote: true %>
        </div>
        
      </div>
  <% end %>
  <div class="cart-total d-flex">
    <div class="cart-total-title">Total: <%=  %></div>
    <div class="cart-total-amount-sku"></div>
    <div class="cart-total-price"></div>
  </div>
</div>
