<div class="cart-products-container d-flex flex-column">
  <div class="cart-title-div d-flex align-items-center">
    <i class="far fa-heart"></i>
      <div class="cart-total-amount-sku"><%= @cart.total_amount %></div>
     <h4>sua sacola</h4>
  </div>
  <% @cart.cart_skus.each do |cart_sku| %>
    <div class="cart-product-card d-flex justify-content-between my-2">
        <div class="cart-product-img-div mr-4">
          <%= cl_image_tag cart_sku.sku.product.photo.key, class: "cart-product-img" %>
        </div>
        <div class="cart-product-infos d-flex flex-column flex-grow-1">
          <div class="cart-product-name"><h2><%= cart_sku.sku.product.name %></h2></div>
          <div class="cart-product-numbers d-flex justify-content-between align-items-center">
            <div class="update-amount d-flex">
              <div class="add-one-sku-button">
                <%= link_to "+", "", remote: true, class: "btn" %>
              </div>
              <%= simple_form_for(cart_sku, remote: true) do |f| %>
                <%= f.input :amount, as: :numeric, input_html: { min: 1, step: 1 }, label:false %>
              <% end %>
              <div class="remove-one-sku-button">
                 <%= link_to "-", "", remote: true, class: "btn" %>
              </div>
            </div>
            <div class="cart-sku-id d-none"><%= cart_sku.id %></div>
            <div class="cart-product-unit-price">R$<%= p = cart_sku.sku.price %></div>
            <div class="cart-product-total-price">R$<%= cart_sku.total_price %></div>
          </div>
        </div>
        <div class="remove-from-cart">
          
          <%= link_to cart_sku, method: :delete, remote: true, class: "remove-from-cart-btn" do %>
            <i class="far fa-times-circle"></i>
          <% end %>
        
        </div>
        
      </div>
  <% end %>
  <div class="cart-total d-flex justify-content-between my-1">
    <div class="cart-total-title">total <%=  %></div>
     <div class="cart-total-price">R$<%= @cart.total_price %></div>
  </div>
</div>
