<div class="main-container d-flex my-5">
  <div class="product-cards-container ml-5 pr-5">
    <% @products.each do |product| %>
      <div class="product-card d-flex flex-column align-items-center mb-5">
        <div class="product-card-img-div">
          <%= cl_image_tag product.photo.key, class: "product-card-img" %>
        </div>
        <div class="product-card-info d-flex flex-column">
          <h2 class="product-card-name my-2"><%= product.name %></h2>
          <span class="product-card-price mb-3">R$ <%= product.sku.price %></span>
        </div>
        <div class="add-to-card-button">
          <%= simple_form_for(@cart_sku, remote: true) do |f| %>
            <%= f.hidden_field :sku_id, value: product.sku.id %>
            <%= f.hidden_field :cart_id, value: @cart.id %>
            <%= f.hidden_field :amount, value: 1 %>
            <%= f.button :submit, "comprar", class: "btn btn-block buy-button"%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="cart-container px-5 text-align-center d-flex justify-content-center">
    <% if @cart.products.blank? %>
      <div class="empty-cart-message d-flex flex-column align-items-center">
        <i class="fas fa-shopping-bag my-4 empty"></i>
        <span class="empty-cart-text-main">ops! Sua sacola ainda está vazia.</span>
        <span class="empty-cart-text">vem cá descobrir nossas fórmulas e esolher a sua</span>
      </div>
    <% else %>
      <%= render 'carts/show' %>
    <% end %>
  </div>
</div>
